
<header class="site-header">
  <div class="container nav">
    <a class="brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Alurit Tech Logo" class="logo"/>
      <span>Alurit <strong>Tech</strong></span>
    </a>
    <nav>
      <a href="{{ site.baseurl }}/">Início</a>
      <a href="{{ site.baseurl }}/sobre/">Sobre</a>
      <a href="{{ site.baseurl }}/servicos/">Serviços</a>
      <a href="{{ site.baseurl }}/contato/">Contato</a>
      <a href="https://medium.com/@tirula" target="_blank" rel="noopener">Blog</a>
    </nav>
  </div>
</header>
